<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=name%>走势图带连线_<%=subName%>-500彩票</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link type="text/css" rel="stylesheet" href="http://www.500cache.com/mobile/??widget/head/head.css,widget/navbox/navbox.css,widget/layout/baselo.css,touch/css/zoushi.css,touch/css/zous.css" />
    <!--<link href="http://cache.500boss.com/mobile/touch/css/zous.css" type="text/css" rel="stylesheet" />-->
    <!--<link href="http://cache.500boss.com/mobile/touch/css/ssq_zous.css" type="text/css" rel="stylesheet" />-->
    <meta name="description" content="500彩票网免费提供最新<%=name%><%=subName%>大全，还提供最近30期、最近50期、最近100期<%=name%><%=subName%>带连线，方便彩民浏览、投注参考之用。" />
  </head>
  <body>
    %%%%
    <script src="/datachart/vendor/client-vendor-bundle.js"></script>
    <script src="/datachart/client-bundle.js"></script>

    <div style="display: none">
      <!--# include file="/ssi/log.html" -->
    </div>
  </body>
</html>
